@import "~@/assets/style/markdown.scss";

.article-content{
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  background: rgba(80, 73, 70, 0.6);
}

.article-title .title{
  font-size: 30px;
  color: #ffffff;
}
.article-title .other{
  font-size: 12px;
  color: #9e9d99;
  margin-top: 5px;
}
.article-title .other i{
  margin: 0 5px;
}
.article-message{
  margin-top:30px;
  color: #ffffff !important;
}
.article-message .img{
  margin: 1px 0;
}
.article-message .img img{
  width: 100%;
}
.article-message .text{
  font-size: 14px;
  margin-top: 30px;
}
.article-recommend{
  background: rgba(59,54,51,0.6);
  box-shadow: -3px 0 7px rgba(37,40,40,0.6);
  padding: 8px 6px;
}
.article-recommendtitle .cn{
  font-size: 1.4px;
  color: #ffffff;
  margin-bottom: 0.5px;
}
.article-recommendtitle .en{
  font-size: 1.2px;
  color: #9e9d99;
  margin-bottom: 0.5px;
}
.article-recommendtitle .icon a{
  display: inline-block;
  width: 0.5px;
  height: 0.5px;
  background: #eb4f38;
}
.article-recommend-list ul li{
  font-size: 0;
  padding: 1.5px 0;
  border-bottom: 1px dashed #9e9d99;
}

.article-recommend-list ul li .img,.article-recommend-list ul li .message{
  display: inline-block;
}
.article-recommend-list ul li .img{
  width: 100%;
  vertical-align: middle;
}
.article-recommend-list ul li .img img{
  max-width: 100%;
}
.article-recommend-list ul li .message{
  width: 100%;
  margin-left: 2%;
  vertical-align: middle;
}
.article-recommend-list ul li .message .title{
  color: #ffffff;
  font-size: 1.2px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.5px;
}
.article-recommend-list ul li .message .time{
  font-size: 1.2px;
  color: #9e9d99;
}
.article-recommend-list ul li a:hover{
  cursor: pointer;
}
.article-recommend-list ul li a:hover .title{
  color: #eb4f38;
}

#SOHUCS #SOHU_MAIN .wrap-issue-gw a:hover, #SOHUCS .wrap-issue-gw a span{
  color: #ffffff;
}
#SOHUCS #SOHU_MAIN .module-hot-topic .topic .topic-list li a,#SOHUCS #SOHU_MAIN .module-mobile-cmt-list .list-wrapper-wap .list-container-wap .list-item-wap .list-content-wrapper-wap .list-content-wap,#SOHUCS, #SOHUCS #SOHU_MAIN{
  color: #ffffff;
}
#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-main .area-textarea-e .textarea-fw{
  color: #ffffff;
}


@media screen and (min-width:300px) and (max-width:960px) {
  .article-content{
    margin-top: 15px;
  }
  .article-content-container{
    padding: 0;
  }
}
